name: Automatisation des tests
on: [push]

jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p build && cd build
          cmake .. && make
          ./src/calculator add 10 5

  Test_Sub:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p build && cd build
          cmake .. && make
          ./src/calculator sub 3 -2

  Test_Mul:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p build && cd build
          cmake .. && make
          ./src/calculator
